<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Spring Boot Microservices Example</h1>
	<h3>Customer Service</h3>
	<form action="/displayAll">
	  	
	  	<input type="submit" value="DISPLAY_CUSTOMER">
	</form>	
	<hr>
	
	<h3>Banking Service</h3>
	<form action="/displayBanking">
	  	
	  	<input type="submit" value="DISPLAY_BANKING">
	</form>	
	<hr>
	
	<h3>Accounts Service</h3>
	<form action="/displayAccounts">
	  	
	  	<input type="submit" value="DISPLAY_ACCOUNTS">
	</form>	
	<hr>
	
	<h3>Account Category Service</h3>
	<form action="/displayAccountCtg">
	  	
	  	<input type="submit" value="DISPLAY_ACCOUNT_CTG">
	</form>	
	<hr>

	<div th:replace="footer :: copy"></div>

</body>
</html>
